<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
>

    <!--folter with tests-->
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!--filter for coverage-->
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
